@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  flex: 1;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Eudoxus Sans", sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 238, 242, 255;
    --background-end-rgb: 250, 250, 250;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */
/* 
:root {
  flex: 1;
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Eudoxus Sans", sans-serif; 
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
} */